

<select *ngIf="mainSelect " class="browser-default" (change)="showFilter($event.target.value)">
    <option value="0" disabled >Mostrar por</option>
    <option value="1">Tipo de vehiculo de Rappitenderos</option>
    <option value="2">Tipo de Ordenes</option>
    <option value="3">Saturacion por tipo de ordenes</option>
    <option value="4">Saturacion por falta de vehiculos</option>
</select>

<select *ngIf="vehicleSelect" class="browser-default" (change)="getStorekeepersByVehicle($event.target.value)">
    <option value="0" disabled selected> <table>Tipo de vehiculo</table></option>
    <option value="1">Bicicleta</option>
    <option value="2">Moto</option>
    <option value="0">Cualquiera</option>
</select>

<select *ngIf="orderTypeSelect" class="browser-default" (change)="getOrdersByType($event.target.value)">
    <option value="0" disabled selected> <table>Tipo de orden</table></option>
    <option value="courier">RappiFavor</option>
    <option value="restaurant">Restaurante</option>
    <option value="ultraservicio">RappiCash</option>
    <option value="market">Supermercado</option>
    <option value="express">Express</option>
    <option value="whim">Antojo</option>
</select>

<a class="waves-effect waves-light btn reset-btn"  *ngIf="resetButtom" (click)="resetFilter()">Resetear</a>

<div class="content">
    <agm-map [latitude]="4.70551625403494" [longitude]="-74.03951118339762" [zoom]="18" (mapClick)="coors($event)" (boundsChange)="getMarkers($event)">
        <agm-marker *ngFor="let e of markers;" [iconUrl]="{  url: './assets/images/'+e.toolkit.vehicle+'.png' }" [latitude]="+e.lat" [longitude]="+e.lng"></agm-marker>
        <!-- <agm-polygon [fillColor]="red" [fillOpacity]="0.5" [paths]="zone.paths" [strokeColor]="blue" [strokeOpacity]="0.6"  [visible]="true" [zIndex]="1"></agm-polygon> -->
    </agm-map>
</div>






